/*represented by clint360*/
* {
  background: #252b42;
  font-family: Montserrat, sans-serif;
}

/*Styling of the navbar and wepage header*/
nav {
  display: flex;
}

.heading-class,
.nav-class {
  margin-bottom: 40px;
}

nav .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-size: 25px;
  color: #fff;
}

.menu-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #fff;
}

.heading-class-text {
  width: 70%;
  height: 228px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.heading-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  width: 80%;
  height: 120px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.heading-button-1,
.heading-button-2 {
  max-width: 97%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 39px;
  gap: 10px;
  height: 49px;
  border-radius: 37px;
}

.heading-button-1 {
  background: #23a6f0;
  border: 1px solid #23a6f0;
}

.heading-button-2 {
  border: 1px solid #fff;
  color: #fff;
}

.button-text {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  top: 10px;
}

.crood-user-interface {
  width: 100%;
}

/*Feature Section Styling*/
.feature {
  max-width: 350px;
  margin: auto;
  padding-bottom: 30%;
  padding-top: 30%;
}

.card-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin-bottom: 10px;
}

.flex-row-items,
.flex-row-paragraph {
  background: #fafafa;
}

.flex-row-items {
  width: 90%;
  display: flex;
  gap: 10px;
}

.flex-row-paragraph {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 100%;
}

.vector-card {
  background: #fff;
}

.card-last-item {
  margin-bottom: 50px;
}

.text-feature-section {
  font-weight: 900;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #fff;
}

.paragraph-feature-section {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 40px;
}

.end-paragraph {
  float: right;
}

.feature-button-1,
.feature-button-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 36px;
  gap: 10px;
  border-radius: 37px;
}

.feature-button-1 {
  background: #23a6f0;
  border: 1px solid #23a6f0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  top: 10px;
}

.feature-button-2 {
  border: 2px solid#fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
  top: 10px;
}
/*End of Features Section Styling*/

/*Testimonials' Styling */
.testimonials {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-heading {
  width: 250px;
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.testimonial-paragraph {
  width: 255px;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.testimonail-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  gap: 20px;
  width: 100%;
  height: 370px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  justify-content: center;
}

.testimonial-user-1 {
  border-radius: 200px;
}

.picture-container {
  background: #fff;
  margin-top: 10px;
}

.testimonail-info,
.rate,
.testimonial-author,
.testimonial-design,
.testimonial-pic {
  background: #fff;
}

.testimonial-text {
  width: 227px;
  height: 70px;
  font-weight: 900;
  font-size: 15px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  background-color: #fff;
}

.testimonial-author {
  width: 157px;
  height: 1px;
  left: 35px;
  top: 139.2px;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.testimonial-design {
  width: 100%;
  height: 5px;
  left: calc(50% - 67px / 2);
  top: 171.2px;
  font-weight: 600;
  font-size: 14px;
  line-height: 5px;
  letter-spacing: 0.2px;
  color: #737373;
}

.rate {
  text-align: center;
}
/*Finished the Testimonials Section Styling*/

/*FAQ Section Styling*/
/* faq */
.faq {
  max-width: 350px;
  margin: auto;
  margin-top: 231.8px;
}

.desktop-faq {
  display: none;
}

.faq-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-faq {
  width: 87px;
  height: 57px;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #fff;
}

.paragraph-faq {
  width: 225px;
  height: 90px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.card-faq-item {
  display: flex;
  gap: 26px;
  padding: 22px;
  height: 109px;
  background: #fff;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.fa-chevron-right {
  background: #fff;
  font-weight: 700;
  font-size: 50px;
  margin-top: -45px;
}

.heading-faq,
.heading-5-faq,
.heading-6-faq {
  background-color: #fff;
}

.heading-5-faq {
  width: 100%;
  height: 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #252b42;
}

.heading-6-faq {
  width: 222px;
  height: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
/*End of Styling of the FAQ Section*/
